.Rproj.user
.Rhistory
.RData
.Ruserdata
Wk1 Homework/*
Wk1 Practical/*
Wk2 Homework/*
Wk2 Practical/*
Wk3 Homework/Data source/*
Wk3 Practical/data source/*
Wk4 Homework/data source/*
Wk5 Practical/data source/*